

@if (TableData == null || Columns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="w-full bg-white rounded-md border-b border-gray-200 shadow-lg">
        <thead class="bg-white border-b-2 border-gray-200 rounded-lg">
            <tr>
                @if(Columns != null)
                {
                    @foreach (var column in Columns)
                    {
                        <th class="p-3 text-sm font-normal text-gray-500 tracking-wide text-left">@column.Title</th>
                    }
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in TableData)
            {
                <tr class="bg-white hover:bg-gray-50 cursor-pointer">
                    <td class="p-3 text-sm text-gray-700">@item.Name</td>
                    <td class="p-3 text-sm text-gray-700">@item.Website</td>
                    <td class="p-3 text-sm text-gray-700">Na</td>
                    <td class="p-3 text-sm text-gray-700">Na</td>
                    <td class="p-3 text-sm text-gray-700">Na</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    [Parameter]
    public List<TableColumnSetting>? Columns { get; set; }

    [Parameter]
    public List<Customer>? TableData { get; set; }
}
