@inject NavigationManager NavigationManager

<ol class="flex items-center whitespace-nowrap mb-3" aria-label="Breadcrumb">
    <li class="inline-flex items-center">
        <a class="flex gap-2 items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 dark:focus:text-blue-500" href="/dashboard">
            <i class="bi bi-columns-gap"></i>
            Dashboard
        </a>
        @if (CurrentRoute != "")
        {
            <svg class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600 dark:text-neutral-600" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6" /></svg>
        }
        
    </li>
    @if (CurrentRoute !="")
    {
        <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate dark:text-gray-200 gap-2" aria-current="page">
            @switch (CurrentRoute)
            {
                case "users":
                    <i class="bi bi-people-fill text-sky-700"></i>
                    break;

                case "customers":
                    <i class="bi bi-person-workspace text-sky-700"></i>
                    break;

                case "projects":
                    <i class="bi bi-kanban-fill text-sky-700"></i>
                    break;
            }
            
            @FirstLetterToUpper(CurrentRoute)
        </li>
    }
    
</ol>

@code {
    [Parameter]
    public string CurrentRoute { get; set; } = "Home";

    private string FirstLetterToUpper(string str)
    {
        if (str == null)
            return null;

        if (str == "")
            return "Home";

        if (str.Length > 1)
            return char.ToUpper(str[0]) + str.Substring(1);

        return str.ToUpper();
    }
}
