<div class="@CssClass( "flex flex-col bg-neutral-200", defaultNavWidth , "p-3 border-r-1 relative" , "duration-300")">
    <div class="absolute -right-[0.7rem] top-10 flex justify-center 
               items-center w-7 h-7 hover\:bg-gray-50 bg-sky-700 rounded-full text-white cursor-pointer" @onclick="SetToggle">
        @if (isToggled)
        {
            <i class="bi bi-arrow-right"></i>
        }
        else
        {
            <i class="bi bi-arrow-left"></i>
        }
        
    </div>
    <div class="flex items-center gap-2 px-1 py-3">
        <img src="img/logo.svg" />
        @* <i class="bi bi-ticket-perforated-fill text-xl text-sky-700"></i>
        <span class="text-xl text-sky-700 font-bold">VSO System</span> *@
    </div>
    <div class="flex-1 py-7 flex flex-col gap-1 border-t border-neutral-300">
      @foreach(var sideBarItem in SideBars!)
        {
            <SideBarLink isToggled="@isToggled" sideBarItem="@sideBarItem" />
        }
    </div>
    <div class="flex flex-col gap-1 pt-2 border-t border-neutral-300">
        <BottomSideBar isToggled="@isToggled" />
    </div>
</div>

@code {
    private List<SideBar>? SideBars { get; set; }
    private bool isToggled { get; set; } = false;
    private string defaultNavWidth { get; set; } = "w-60";

    protected override void OnInitialized()
    {
        SideBars = new List<SideBar>
        {
          new SideBar("Dashboard", "/dashboard", "Dashboard") ,
          new SideBar("Customers", "/customers", "Customer") ,
          new SideBar("Users", "/users", "Person"),
          new SideBar("Projects", "/projects", "Project")
        };
    }

    protected void SetToggle()
    {
        isToggled = !isToggled;
        if (isToggled)
        {
            defaultNavWidth = "w-20";
        }
        if (!isToggled)
        {
            defaultNavWidth = "w-60";
        }
    }
}
