@inherits LayoutComponentBase

<PageTitle>VSO-SystemApp</PageTitle>

    <div class="flex-col">
        <VsoHeaderMenu />
        <div class="flex">
            <NavMenu />
            <div class="bg-black w-full h-max">
               @Body
           </div>
        </div>
    </div>

