@inherits LayoutComponentBase

<PageTitle>VSO-SystemApp</PageTitle>
<Toast />
<div class="flex flex-row bg-neutral-100 h-screen w-screen overflow-y-auto overflow-x-hidden">
        <AuthorizeView>
            <Authorized>
              <NavMenu />
            </Authorized>
        </AuthorizeView>
        
         <div class="flex-1">
            <Header />
            <div class="p-4">
               @Body
            </div>
               
          </div>
    </div>

    @code {
    }

