<div class="flex flex-col bg-neutral-200 w-60 p-3 border-r-1">
    <div class="flex items-center gap-2 px-1 py-3">
        <i class="bi bi-ticket-perforated-fill text-xl text-sky-500"></i>
        <span class="text-xl text-sky-500 font-bold">VSO System</span>
    </div>
   <div class="flex-1 py-8 flex flex-col gap-1">
      @foreach(var sideBarItem in SideBars)
        {
            <SideBarLink sideBarItem="@sideBarItem" />
        }
    </div>
    <div class="flex flex-col gap-1 pt-2 border-t border-neutral-700">
       <BottomSideBar />
    </div>
</div>

@code {
    private List<SideBar> SideBars { get; set; }

    protected override void OnInitialized()
    {
        SideBars = new List<SideBar>
        {
          new SideBar("Customers", "/customers", "Customer") ,
          new SideBar("Users", "/users", "Person"),
          new SideBar("Projects", "/projects", "Project")
        };
    }
}
