<div class="bg-white border-b h-14 w-full flex items-center space-x-4 ">
    <div class="pl-5">
        <i class="bi bi-ticket-perforated-fill text-xl text-sky-500"></i>
        <a class="text-sky-500 font-bold text-xl" href="">VSO System</a>
    </div>
</div>

@code {
    
}
