@page "/"
@inject NavigationManager NavigationManager

<div class="h-screen">
    <!--Navbar-->
    <NavBar />
    <!--Hero Section-->
    <HeroSection />
    <!--Feature Section-->
    <FeaturesSection />
    <!--Testimonials-->
    <Testimonials />
    <!--CTA Section-->
    <CtaSection />
    <!--Footer-->
    <Footer />
</div>

@code {

}


