@page "/"
@inject NavigationManager NavigationManager

<Breadcrumb CurrentRoute="@NavigationManager.Uri.Substring(NavigationManager.BaseUri.Length - 1).ToString().Replace("/", "").ToLower()" />

<h1>Hello, world!</h1>

Welcome to your new app.


