@page "/projects"
@inject NavigationManager NavigationManager

<Breadcrumb CurrentRoute="@NavigationManager.Uri.Substring(NavigationManager.BaseUri.Length - 1).ToString().Replace("/", "").ToLower()" />
<div class="flex justify-end gap-2 mb-5">
    <HeaderSearch />
    <button class="p-2 text-white text-sm bg-sky-700 rounded-md"><i class="bi bi-plus-lg"></i> Add New</button>
</div>
<AppTable Columns="@TableColumnSettings" />


@code {

    private List<TableColumnSetting>? TableColumnSettings { get; set; }

    protected override void OnInitialized()
    {
        SetTableColumn();
    }

    private void SetTableColumn()
    {
        TableColumnSettings = new List<TableColumnSetting>
        { 
            new TableColumnSetting("Project Name", true),
            new TableColumnSetting("Project Type", true),
            new TableColumnSetting("Description", true),
            new TableColumnSetting("Start Date", true),
            new TableColumnSetting("End Date", true),
            new TableColumnSetting("Status", true),
        };
    }

}
