<div class="flex flex-col gap-4">
    <!--Top part--> 
    <div class="flex justify-between items-center">
       <p class="text-sm text-gray-500">Company Name</p>
        <form method="post" action="Identity/Account/LogOut" class="flex items-center gap-2 ml-3">
            <button class="flex items-center font-light py-2 text-sm text-gray-500 hover:underline gap-2" type="submit">
              Sign out 
            </button>
        </form>
     </div>
     <!--Middle part-->
    <div class="flex items-center gap-4">
        <div class="h-24 w-24 bg-green-800 text-white rounded-full flex items-center justify-center text-4xl">M</div>
        <div class="flex flex-col space-y-2">
            <p class="text-sm text-gray-500">Meesam.Z</p>
            <p class="text-sm text-gray-500">meesam.engineer@gmail.com</p>
            <a href="#" class="text-sm underline text-blue-600">View Account</a>
        </div>
     </div>
</div>

@code {

}
